* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #435169;
  font-size: 1.6rem;
  line-height: 1.2;
}

a:link,
a:visited {
  color: #435169;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}

a:active,
a:hover {
  color: #3f87fe;
  font-weight: 600;
}

.nav-links li {
  margin-bottom: 0;
}

.container,
.explore-link:link,
.learn-more:link,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  max-width: 96rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  margin: 15rem 2rem;
}

.main-inner {
  max-width: 96rem;
  margin: 0 2rem;
}

.main-inner {
  padding-left: 4rem;
  gap: 4rem;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 9rem;
}

.nav {
  gap: 10rem;
}

.nav-links-list {
  list-style: none;
  gap: 6.4rem;
}

.nav-btn,
.hero-btn {
  color: #fff;
  background-color: #ff7853;

  border: none;
  border-radius: 5rem;
  padding: 1.4rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  height: 4.8rem;
  width: 166px;
  transition: all 0.4s;
  gap: 1rem;
  cursor: pointer;
}

.section-img,
.hero-img {
  width: 80%;
  max-width: 48rem;
  height: auto;
  align-self: center;
  justify-self: start;
}

.hero-img {
  justify-self: end;
}

.section-img {
  background-color: #e9edf0;
  padding: 6.4rem 0;
  border-radius: 2.4rem;
}

.section-txt {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.mobile-menu {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.mobile-menu-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #222222;
}

.mobile-menu-icon[name="close-outline"] {
  display: none;
}

.hero-btn {
  background-color: #3f87fe;
  box-shadow: 0 7px 4.3rem #78c7ff56;
}

.btn-icon {
  width: 1.4rem;
  height: 1.4rem;
}

h1,
h2 {
  color: #011d0d;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.subheading-1 {
  margin-bottom: 4.8rem;
  width: 60%;
  line-height: 1.5;
}

.main-inner .subheading-1 {
  width: 80%;
}

.hero-btn {
  margin-bottom: 4.8rem;
}

.hero-stat {
  width: 100%;
  justify-content: space-between;
}

.hero-stat p,
.cta-stat-inner p {
  width: 50%;
  line-height: 1.5;
}

.hero-logos {
  width: 50%;
  max-width: 21.6rem;
  height: auto;
}

.main-container {
  flex-direction: column;
  gap: 12rem;
}

h2,
.faint-txt {
  color: #011d0d;
  font-size: 4rem;
}

.faint-txt {
  color: #ffeded;
  -webkit-text-stroke: 0.5px #011d0d;
  color: #ffeded;
  margin-bottom: 2rem;
}

.explore-link:link,
.explore-link:visited,
.learn-more:link,
.learn-more:visited {
  color: #3f87fe;
  justify-content: space-between;
  font-size: 2.4rem;
}

.explore-link:link,
.explore-link:visited {
  max-width: 21rem;
  transition: all 0.3s;
}

.explore-link:hover,
.learn-more:hover {
  cursor: pointer;
}

.section-img-2 {
  padding-bottom: 0;
}

.learn-more:link {
  background-color: #fff;
  font-weight: 600;
  border-radius: 1.2rem;
  padding: 1.2rem;
}

.learn-more-icon {
  background-color: #3f87fe;
  color: #fff;
  width: 4.8rem;
  height: 4.8rem;
  padding: 0.8rem;
  border-radius: 0.6rem;
}

.colored-section {
  border-radius: 2.4rem;
  background-color: #3f87fe;
  padding-left: 0;
  grid-template-columns: 1fr 0.8fr;
  gap: 0;
}

.colored-section-txt {
  margin: 4rem 0 4rem 4rem;
}

h3 {
  font-size: 3.2rem;
  color: #fff;
  margin-bottom: 4rem;
  line-height: 1.2;
}

.colored-section-img {
  width: 70%;
  max-width: 56rem;
  margin: 9rem 0 -5rem 5.6rem;
  justify-self: flex-end;
}

.agile-img,
.integrate-img {
  background-color: #fff;
}

.agile-section {
  grid-template-columns: 0.8fr 1fr;
}

.agile-section,
.integrate-section {
  padding-left: 0;
}

.integrate-section {
  grid-template-columns: 1fr;
}

.integrate-img {
  width: 100%;
  max-width: 119rem;
  padding: 3.2rem 0 0;
}

.integrate-heading,
.integrate-subheading {
  text-align: center;
}

.integrate-subheading {
  font-size: 2rem;
  line-height: 1.5;
}

.integrate-txt {
  width: 50%;
  justify-self: center;
}

.footer,
.cta-section {
  background-color: #010b1c;
}

.cta-h2,
.cta-subheading,
.cta-stat-inner p {
  color: #fff;
}

.cta-inner {
  padding: 6.4rem 0 3.2rem;
}

.cta-img {
  padding: 0;
  width: 50%;
  max-width: 22rem;
  justify-self: center;
}

.cta-btn {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  gap: 1.6rem;
}

.cta-txt-box {
  font-size: 1.4rem;
  color: #6b6b6b;
  background-color: #fff;
  text-align: left;
  align-content: center;
  padding: 1rem 1.6rem;
  height: 4.8rem;
  border-radius: 5rem;
}

.cta-stat-inner {
  width: 100%;
  margin-top: 0;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.4rem;
}

.cta-stat-inner p {
  width: 20%;
}

.footer-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #505762;
  padding-top: 4rem;
  margin: 0 2rem 4rem;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 2.4rem;
}

li:first-child {
  color: #e0e0e0;
  font-weight: 600;
}
